<div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
        <li>
            <form id="search-form" class="navbar-search" ng-submit="submitSearch()" action="">
                <input id="search-input" type="text" class="search-query span4" placeholder="Search"
                       ng-model="query">
            </form>
        </li>
        <div class="actions" ng-controller="LiveController">
            <button ng-click="onLiveClick(!live)" id="live-button" class="btn btn-small btn-primary pull-right" data-toggle="button" autocomplete="off">
                Live
            </button>
        </div>
    </ul>
</div>

<div when-scrolled-down="loadMorePrev()" class="maximize">
    <ng-include src="resultTemplate"></ng-include>
</div>





